* {
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  font: normal 15px/17px Arial, sans-serif;
}

#top-line {
  background-color: #efefef;
  height: 30px;
  font-size: 13px;
  font-weight: bold;
  padding: 5px 30px 0;
  box-sizing: border-box;
}

#top-line .left {
  float: left;
}

#top-line .right {
  float: right;
}

#top-line li {
  display: inline-block;
  vertical-align: top;
}

#top-line li + li {
  margin-left: 30px;
}

#top-line a {
  color: #000;
}

#header {
  padding: 0 30px;
  margin: 0 auto;
  max-width: 900px;
}

#header .socials {
  padding-top: 34px;
  float: left;
  width: 60px;
}

#header .socials a {
  font-size: 0;
  display: inline-block;
  vertical-align: top;
  width: 25px;
  height: 25px;
  background-color: red;
}

#header .phone {
  float: right;
  padding-top: 40px;
}

#header .logo {
  position: relative;
  margin: 0 150px;
  height: 100px;
  font-size: 0;
}

#header .logo h1 {
  position: absolute;
  width: 210px;
  height: 40px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  background-color: blue;
}

#menu {
  background-color: #000;
  text-align: center;
}

#menu ul li {
  display: inline-block;
  vertical-align: top;
  padding: 6px 0 7px;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

#menu ul li + li {
  margin-left: 50px;
}

#menu ul a {
  color: #fff;
  text-decoration: none;
}

#grid-collection {
  margin: 30px;
  position: relative;
  overflow: hidden;
}

#grid-collection .container {
  margin-right: -30px;
}

#grid-collection .tile {
  background-clip: content-box;
  background-size: cover;
  background-position: top center;
  vertical-align: middle;
  height: 390px;
  float: left;
  width: 100%;
  padding-right: 30px;
  margin-bottom: 30px;
  box-sizing: border-box;
  color: #fff;
  text-align: center;
}

#grid-collection .tile::before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}

#grid-collection .desc {
  display: inline-block;
  vertical-align: middle;
}

#grid-collection .tile:nth-child(2) {
  width: 40%;
}


#grid-collection .tile:nth-child(3) {
  width: 60%;
}


#grid-collection .tile:nth-child(4) {
  width: 60%;
}


#grid-collection .tile:nth-child(5) {
  width: 40%;
}

